@charset "utf-8";
/* CSS Document */
body
{
	font-family: 'Montserrat', sans-serif;

}

/* srart header */
.header
{
	background-image:url(../img/wood.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center center;
	height:829px;
	color:#fff;
	position:relative
}
.header .h-navbar
{
	padding-top:30px;
	
}
.header .h-navbar img
{
	width:100px;
	height:100px
}
.header .h-navbar ul li
{
	float:left;
	padding:25px 15px 0 15px;
	font-size:21px;
	font-weight:bold;
	text-transform:capitalize
	
}
.header .h-navbar ul li a
{
	color:#fff;
	text-decoration:none;
	transition:all ease-in-out .3s

}
.header .h-navbar ul li a:hover
{
	color:#E60033;
}

.header .h-navbar span
{
	display:inline-block;
	background-color:#F6AD49;
	padding:7px 24px;
	font-size:18px;
	border-radius:4px;
	text-align:center;
	margin-top:25px;
	font-weight:bold;
	cursor:pointer;
	margin-right:0;
	transition:all ease-in-out .5s

}
.header .h-navbar span:hover
{
	background-color:#E60033
}
.header .title h1
{
	    font-size: 81px;
    font-weight: 700;
    padding-top: 69px;
    letter-spacing: 5px;
	    
}
.header .title p
{
	font-size: 19px;
    font-weight: 400;
}


@media(max-width:1500px){
     .header .visible
	 {
		 display:none
	 }
	 
	}
@media(max-width:1199px){
	.header .dish
{
	position:absolute;
	bottom:0;
	left:0;
	right:auto
}

	}

@media(max-width:991px){
      .header .h-navbar ul li
	 {
		 	padding:25px 8px 0 8px;
			font-size:16px

	 }
	 .header .h-navbar img
     {
	width:80px;
	height:80px
    }
    .header .h-navbar span
    {
	
	 padding: 9px 13px;
    font-size: 15px;

    }

	}

@media(max-width:768px){
     .header .visible
	 {
		 display:block
	 }
	 .header .big
	 {
		 display:none
	 }
	 .header .col-sm-6
	{
		
		width:auto
	}
	 .header .h-navbar img
     {
	width:70px;
	height:70px;
	margin-right:0px
    }
	.header .h-navbar ul 
	{
		margin-left:10%;
		margin-right: auto
	}
	.header .title h1
	{
	         font-size: 61px;
          letter-spacing: 5px;
          padding-top: 129px;
	}
    .header .title p
	{
		font-size:16px
	}
	.header
	{
		height:700px
	}
	
	


	}
@media(max-width:575px){
	.header .col-sm-6
	{
		
		width:auto;
		padding-right:0px;
		padding-left:20%
	}
	.header .h-navbar ul 
	{
		margin-left:15%;
	}
	.header .h-navbar
	{margin-left:0px;}
	.header .title h1
	{
	     font-size: 62px;
         letter-spacing: 6px;
         padding-top: 100px;
	}
    .header .title p
	{
		font-size:17px
	}
	.header
	{
		height:600px
	}
	


}
@media(max-width:526px){
	.header .col-sm-6
	{
		
		width:auto;
		padding-right:0px;
		padding-left:18%
	}
	
	.header .h-navbar ul 
	{
		margin-left:12%;
	}
	
	.header .h-navbar ul li
	{
		font-size:16px;
		padding:25px 7px 0 7px;
	}
}
@media(max-width:440px){
	.header .col-sm-6
	{
		
		width:auto;
		padding-right:0px;
		padding-left:14%
	}
	.header .h-navbar ul 
	{
		margin-left:5%;
	}
	.header .h-navbar ul li
	{
		font-size:15px;
		padding:25px 7px 0 7px;
	}
}
@media(max-width:390px){
	
	.header img
	{
		margin-right:40px
	}
	.header .h-navbar ul 
	{
		margin-left:0;
	}
	.header .h-navbar ul li
	{
		font-size:15px;
		padding:25px 5px 0 5px;
	}
	.header .h-navbar
	{margin-left:20px;}
	.header .col-sm-6
	{
		
		width:auto;
		padding-right:0px;
		padding-left:9%
	}
	.header .title h1
	{
	     font-size: 55px;
         letter-spacing: 4px;
         padding-top: 83px;
	}
    .header .title p
	{
		font-size:14px
	}
	.header
	{
		height:550px
	}
	
}
@media(max-width:380px){
	header .h-navbar ul 
	{
		margin-left:0;
}
.header .h-navbar ul li
	{
		font-size:12px;
		padding:25px 5px 0 5px;
	}
}
@media(max-width:345px){
	.header img
	{
		margin-right:20px
	}
	
	.header .h-navbar
	{margin-left:0px;}
	.header .h-navbar ul 
	{
		margin-left:5px;
    }
    .header .title h1
	{
		font-size:50px;
		letter-spacing:3px;
		padding-top:100px
	}
    .header .title p
	{
		font-size:14px
	}
	.header
	{
		height:550px
	}
}

.clear-fix
{
	clear:both
}
/* end header */

/* start order */
.how-order
{
	background-image:url(../img/texture_pattern_2X.jpg);
	background-repeat:repeat;
	padding-top:50px;
	padding-bottom:50px
}
.how-order .container
{
	width:80%
}
.how-order h2
{
	padding-bottom:60px;
	font-size:42px;
	font-weight:700;
	color:#E60033
}
.how-order .arrow
{
	margin-top:74px;
	padding-left:80px;
	
}
.how-order .size img
{
    width: 99px;
    height: 30px;
}
.how-order .text
{
	padding-top:30px
}
.how-order .egg
{
	padding-top:20px
}
@media(max-width:991px){
	.how-order .arrow
{
	margin-top:57px;
	padding-left:80px;
	
}

	
}
@media(max-width:820px){
	.how-order .arrow
{
	margin-top: 44px;
    padding-left: 74px;
}
	.how-order h2
{
	font-size:40px;
}


	
}
@media(max-width:768px){
	.how-order .arrow
    {
    margin-top: 0px;
    padding-left: 79px;
    margin-bottom: 45px;
    margin-left: 117px;
    }
	.how-order h2
    {
	font-size:35px;
    }
   .how-order .size img
    {
    width: 99px;
    height: 30px;
	transform:rotate(90deg)

    }
	.how-order .col-md
	{
		width:400px;
		margin-left:auto;
		margin-right:auto
	}


	
}
@media(max-width:653px){
	.how-order h2
    {
	font-size:29px;
    }
}
@media(max-width:470px){
	.how-order .arrow
    {
    margin-left: 80px;
    }
	.how-order h2
    {
	font-size:24px;
    }
}


/* end order */

/* start menu */
.menu
{
	background-image:url(../img/character_pattern_2X.jpg);
	background-repeat:repeat;
	padding-bottom:80px;
	padding-top:60px
}
.menu h2
{
	color:#fff;
	font-size:60px;
	font-weight:700;
	padding-bottom:40px;
}
.menu h3
{
	font-family: 'Economica', sans-serif;
	font-weight:bold;
	color:#433D3C;
	font-size:51px

}
.menu ul
{
	margin-bottom:60px;
	margin-left:80px

}
.menu ul li
{
		
		color:#fff;
		font-size:16px;

}
.menu ul .price
{
	color:#E60033 !important;
	font-size:26px !important;
	font-family: 'Montserrat', sans-serif !important;
	
}
.menu ul .m-bottom
{
	margin-bottom:30px
}
.menu ul .mb-bottom
{
	margin-bottom:45px
}

.menu ul .m-end
{
	color:#635755;
	font-size:32px;
	font-family: 'Walter Turncoat', cursive !important;
	margin-bottom:90px
	
}
.menu .all-menu
{    
    background-color: #433D3C;
    color: #fff;
    padding: 6px 11px;
    text-align: center;
    display: block;
    margin: 40px auto 0;
    width: 240px;
    border-radius: 4px;
    font-size: 18px;
    line-height: 33px;
	transition:ease-in-out all .5s

}


.menu .all-menu:hover 
{
	background-color:#E60033
	
}
.menu .all-menu a
{
	text-decoration:none;
	color:#fff
}
@media(max-width:470px){
	.menu ul
{
	margin-bottom:60px;
	margin-left:30px

}
.menu h2
{
	font-size:40px;
}


}



/* end menu */

/* start join us */
.join-us
{
	background-image:url(../img/texture_pattern_2X.jpg);
	background-repeat:repeat;
	padding-top:50px;
	overflow:hidden
}

.join-us h2
{
	padding-bottom:20px;
	font-size:42px;
	font-weight:700;
	color:#E60033
}
.join-us p
{
	font-size:19px;
	color:#F6AD4B;
	margin-bottom:50px
}
.join-us .col-md
{
	padding:0
}
@media(max-width:768px){
	.join-us .content
	{
		width:80%;
		margin-left:auto;
		margin-right:auto
	}
	.join-us h2
    {
	font-size:32px;
    }
	.join-us p
    {
	font-size:15px;
    }




}
@media(max-width:583px){
	
	.join-us h2
    {
	font-size:25px;
    }
	join-us p
    {
	font-size:12px;
    }




}



/* end join us*/

/* start footer*/
.footer
{
	background-color:#433D3C;
	color:#fff;
	padding-top:60px;
	padding-bottom:60px
}
.footer .container
{
	width:80%
}
.footer ul li
{
	float:left;
	padding:10px
}
.footer ul a
{
	color:#F6AD49;
	text-decoration:none;
	opacity:1;
	transition:all ease-in-out .3s;
}
.footer ul a:hover
{
	opacity:.7
}
.footer .fa
{
	font-size:32px
}
.footer p
{
	font-size:15px;
	margin-bottom:0;
}
.footer .m-b
{
	margin-bottom:20px
}
.footer span
{
	display:inline-block;
	background-color:#F6AD49;
	padding:7px 24px;
	font-size:18px;
	border-radius:4px;
	text-align:center;
	margin-top:25px;
	font-weight:bold;
	cursor:pointer;
	margin-right:0;
	transition:all ease-in-out .5s

}
.footer span:hover
{
	background-color:#E60033
}
.space
{
	background-image:url(../img/texture_pattern_2X.jpg);
	background-repeat:repeat;
	height:150px

}
@media(max-width:768px){
	.footer span
    {
		text-align:center;
	}
	.footer .col-sm
    {
	  padding-left:31%;
	  padding-right:31%
    }
}

/* end footer*/
